.Input{
    margin-bottom: 0px;
    .sms{
        justify-content: center;
        

        .info{
               display: flex;
               align-items: center;
               justify-content: space-between;
               
               h3{
                color: white;
                font-weight: normal;
                font-size: 18px;
               }
               span{
                color: gray;
                font-size: 12px;
               }
        }

        .otp{
            display: flex;
            flex-direction: row;
            gap: 15px;
            
            input{
                height: 42px;
                width: 42px;
                background-color: transparentize($color: #424242, $amount: 0.7);
                border: 2px solid rgba(255, 255, 255, 0.1);
                border-radius: 13px;
                color: gray;
                font-size: 26px;
                text-align: center;
            }

        }
    }
}